.section-3{
    max-width: 1,440px;
    height:  792px;
    
    background-color: #F4EDFD;
    padding: 
120px, 176px, 120px, 176px; 
    text-align: center; 
    border-bottom: 2px solid black; 
}
