.section-4{
    max-width: 1,440px;
    height:  840px;
    
    background-color: #AC7AE7;
    padding: 
    120px, 176px, 120px, 176; 
    text-align: center; 
    border-bottom: 2px solid black; 
}
