.section-8{
    max-width: 1,440px;
    height:  700px;
    
    background-color: #7622D7;
    padding:    
    120px, 176px, 120px, 176; 
    text-align: center; 
    border-bottom: 2px solid black; 
}