.section-2{
    max-width: 1,440px;
    height:  861.5px;
    
    background-color:  #7622D7;
    padding: 
    80px, 176px, 80px, 176px;
    text-align: center; 
    border-bottom: 2px solid black; 
}