header{
    max-width: 1,440px;
    height: 64.5px;
    margin: auto;
    padding: 16px, 0px, 16px, 0px; 
    background-color:  #F9F3FE;
    

    
}


header h1 {
   font-size: 16px;
    font-family: "Roobert", sans-serif;

    text-align: center;
    padding: 20px 0;
  
  }

  header img {
    max-width: 59.17p;
    height: 32.5px;
    padding: 0px, 10px, 0px, 0px
  }

  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  .section {
    width: 1,440px;
    height: 73px;
    padding: 0px, 176px, 0px, 176px;
    font-family: "Roobert", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }

  
   section h2 {
   font-size: 16px;
  }
  
   section button {
    width: 170..62px;
    height: 42px;
    padding: 9px, 5px, 9px, 5px;
    background-color:  #A4AAAF;
    color: black;
    border: 1px;
    border-radius: 6px;

    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  
  img {
    max-width: 100%;
    height: auto;

  }

