header{
    max-width: 1,440px;
    height: 64.5px;
    
    background-color:  #F9F3FE;
    padding: 16px, 0px, 16px, 0px; 
    text-align: center; 
    border-bottom: 2px solid black; 
}





